<div class="nav-superior shadow rounded">
    <ol class="nav-superior__breadcrumb  m-0 bg-transparent breadcrumb">
            <li class="breadcrumb-item"><a href="#">TABLERO</a></li>
            <li class="breadcrumb-item active" aria-current="page">USUARIOS</li>
    </ol>
    <div class="buttons">
        <a href="/dashboard/create_user_WEB" type="button" class="btn btn-outline-danger mr-2">Crear Usuario WEB</a>
        <a href="/dashboard/create_user_MOBILE" type="button" class="btn btn-outline-info">Crear Usuario Móvil</a>
    </div>
</div>

<div class="contenido-principal">
    <div class="p-4 rounded shadow" style="background-color: white;">
        <table id="example" class="display table table-hover table-striped" style="width:100%;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                <td>
                    <button class="btn btn-dark mr-2 text-light">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="btn btn-info mr-2">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
                <td>
                    <button class="btn btn-dark mr-2 text-light">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button class="btn btn-info mr-2">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
    </table>
    </div>
   
</div>

