
<style>
    .thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 3px solid #c99;
    background-position: center center;
    background-size: cover;
}
    .imgContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}
.imgContainer > .imgSource {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
</style>
<div class="container-fluid m-0 p-0 h-auto" style="overflow-x: hidden;">
    <div class="row mt-3 mx-0 mx-md-3 shadow-sm bg-body">
        <div class="col-6 rounded py-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-3">
                    <li class="breadcrumb-item"><a href="/dashboard">INICIO</a></li>
                    <li class="breadcrumb-item active" aria-current="page">MAQUINAS</li>
                </ol>
            </nav>
        </div>
        <div class="col-6 rounded py-auto" style="display:flex;justify-content: flex-end;">
            <div class="col-4 float-right d-grid gap-2 my-auto">
                <a class="btn btn-primary my-auto float-end" type="button" href="/dashboard/maquinas/crear">Crear Maquina</a>
            </div>
        </div>
    </div>
    <div class="row mt-3 px-3" id="machine_cards">

    </div>
    <div class="row g-3 m-2">
        <div class="col-12">
            <h1>sdsdfdsf</h1>
        </div>
        <div class="col-12">
            <iframe width="100%" height="315" src="https://www.youtube.com/watch?v=t8UAXPF83UY"></iframe>
        </div>
    </div>
</div>



<script>

    function deleteMachine(id, name) {
        axios({
            method: 'POST',
            url: '{{url}}/api/deleteMachine',
            headers: {
                Authorization: 'Bearer token'
            },
            data: {
                id,
                name
            }

        }).then((res) => {
            console.log(res.data);
            window.location.href = "/dashboard/maquinas";

        }).catch((err) => {
            console.log(err);

        });
    }
    function redirect(id_machine){

        window.location.href = `/dashboard/` + id_machine;
    }
    axios({ 
        
        method: 'POST',   
        url: '{{url}}/api/find_machines', 
        headers: {
            Authorization: "Bearer Token"
        }, 
        data: { 
            id: "{{id_user}}"
        }
    
    }).then((res) => {
        
        console.log(res.data.data);
        console.log(res.data.data.length, "maquinas disponibles");
        let maquinas = res.data.data;
        let cards_maquinas = [];

        //notification();
        notificationToast("success", "",`${maquinas.length} maquinas recuperadas`);

        if(maquinas.length == 0) {
            //notification("error", "0 dispositivos asociados");
        } else {
            //notification("success", "Recuperación de Datos Exitosa.");
            let tracker = "";
            let devices_button = "";
            
            for(let i = 0 ; i < maquinas.length ; i ++) {
                if(maquinas[i].tracker){
                    tracker = `<button class="btn btn-warning" onclick="redirect('tracker/${maquinas[i]._id}')">Seguimiento</button>`;
                }

                if(maquinas[i].dispositivos.length != 0) {
                    button = `<button class="btn btn-warning" onclick="redirect('dispositivos/${maquinas[i]._id}')">Ver ${maquinas[i].dispositivos.length} dispositivos</button>`;
                }
                else {
                    button = `<button class="btn btn-warning" onclick="redirect('dispositivos/${maquinas[i]._id}')" disabled> Sin dispositivos</button>`;
                }

                console.log(maquinas[i].dispositivos.length);
                
                cards_maquinas = cards_maquinas + `
                    <div class="col-12 col-sm-6 h-100">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4 imgContainer">
                                    <object data="/images/machines/${maquinas[i].url}" type="image/png">
                                        <img src="/images/machines/gear.png" alt="Sin foto">
                                    </object>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">${maquinas[i].nombre}<span class="float-end">${maquinas[i].ubicacion} <i class="fas fa-map-marker-alt"></i></span></h5>
                                        <p class="card-text text-lowercase">${maquinas[i].descripcion}</p>
                                        <p class="card-text">
                                            ${button}
                                            <!--<button class="btn btn-warning disabled" onclick="redirect('historicos/${maquinas[i]._id}')"> historicos</button>-->
                                            <button class="btn btn-warning" onclick="redirect('dispositivos/crear/${maquinas[i]._id}/${maquinas[i].nombre}')"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                                                    <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                                </svg>
                                            </button>
                                            <button class="btn btn-warning" onclick="redirect('maquinas/editar/${maquinas[i]._id}')"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                            </button>
                                            <button class="btn btn-warning text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal${maquinas[i]._id}"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal${maquinas[i]._id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                    </svg>
                                                    <h6 class="modal-title ml-0">ELIMINAR MAQUINA</h6>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="fs-5">¿Estas seguro de eliminar la maquina: ${maquinas[i].nombre}?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Volver atras</button>
                                                    <button type="button" class="btn btn-danger" onclick="deleteMachine('${maquinas[i]._id}', '${maquinas[i].nombre}')">Eliminar</button>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                            ${tracker} </p>
                                        <p class="card-text"><small class="text-muted">${maquinas[i].creado}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `; 
            }
            document.getElementById('machine_cards').innerHTML = cards_maquinas;

        }
        //notification("info", `${maquinas} maquinas recuperadas`);
        
    }).catch((err) => {
        
        console.log(err);
    
    });
</script>