<link rel="stylesheet" href="/stylesheets/prueba.scss">
<div class="nav-superior shadow rounded">
    <ol class="nav-superior__breadcrumb  m-0 bg-transparent breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">TABLERO</a></li>
        <li class="breadcrumb-item"><a href="/dashboard/users">USUARIOS</a></li>
        <li class="breadcrumb-item active" aria-current="page">WEB</li>
        <li class="breadcrumb-item active" aria-current="page">CREAR</li>
    </ol>
</div>
<div class="contenido-principal px-3">

    <div class="container bg-light p-5">
        <!--<form class="row">
            <div class="col-12">
                <label for="name_create_user_web">Nombre</label>
                <input type="text" class="form-control" id="name_create_user_web" aria-describedby="emailHelp">
            </div>
            <div class="col-12">
                <label for="last-name_create_user_web">Apellidos</label>
                <input type="text" class="form-control" id="last-name_create_user_web" aria-describedby="emailHelp">
            </div>
            <div class="col-12 mt-3">
                <label for="exampleInputEmail1">Rol de Usuario</label>
                <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col-12 mt-3">
                <label for="exampleInputEmail1">Correo Electrónico: </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col-12 mt-3">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-12 mt-3">
                <label for="exampleInputPassword1">Repetir Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary mx-0">Submit</button>
            </div>
            
        </form>-->
  </div>
  
 

  <label for="inp" class="inp">
  <input type="text" id="inp" class="input-inp" placeholder="&nbsp;">
  <span class="label">Label</span>
  <span class="focus-bg"></span>
</label>
     
</div>