<div class="nav-superior shadow rounded">
    <ol class="nav-superior__breadcrumb  m-0 bg-transparent breadcrumb">
            <li class="breadcrumb-item"><a href="#">TABLERO</a></li>
            <li class="breadcrumb-item"><a href="#">USUARIO</a></li>
            <li class="breadcrumb-item active" aria-current="page">WEB</li>
            <li class="breadcrumb-item active" aria-current="page">EDITAR</li>
    </ol>
    <div class="buttons">
        <button type="button" class="btn btn-outline-danger mr-2">Crear Usuario WEB</button>
        <button type="button" class="btn btn-outline-info">Crear Usuario Móvil</button>
    </div>
</div>