<div class="nav-superior shadow rounded my-auto">
    <ol class="nav-superior__breadcrumb m-0 breadcrumb">        
        <li class="breadcrumb-item"><a href="/dashboard">TABLERO</a></li>
        <li class="breadcrumb-item active" aria-current="page">USUARIOS</li>
    </ol>
    <div class="buttons">
        <a type="button" class="btn btn-outline-danger mr-2">Crear Usuario WEB</a>
        <a type="button" class="btn btn-outline-info">Crear Usuario Móvil</a>
    </div>
</div>

<div class="contenido-principal">
  <div class="contenido-1 mx-2 px-5 py-3 bg-light">
    <h3>USUARIOS ACTUALES</h3>
    <table class="table" id="user_table">
      <thead class="mt-5">
    <tr >
      <th scope="col">Nombre</th>
      <th scope="col">Aplicación</th>
      <th scope="col">Dispositivos</th>
      <th scope="col">Ultima conexión</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
  </tbody>
    </table>
  </div>
</div>