<div class="nav-superior shadow rounded my-auto">

    <ol class="nav-superior__breadcrumb m-0 breadcrumb">        
  
        <li class="breadcrumb-item"><a href="/dashboard"><b>TABLERO</b></a></li>
        <li class="breadcrumb-item active" aria-current="page"><b>USUARIOS</b></li>
  
    </ol>
    <div class="buttons">
  
        <a type="button" class="btn btn-outline-danger mr-2">Crear Usuario WEB</a>
  
    </div>
</div>

<div class="contenido-principal">
  
  <div class=" mx-2 px-5 py-5 bg-light rounded">

    <table class="table table-bordered table-hover" id="user_table">
      <thead class="mt-5">
    <tr >
      <th scope="col">Nombre</th>
      <th scope="col">Aplicaci贸n</th>
      <th scope="col">Dispositivos</th>
      <th scope="col">Ultima conexi贸n</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody id="users-table">
      
  </tbody>
  <tfoot>
      <tr>
          <th scope="col">Nombre</th>
      <th scope="col">Aplicaci贸n</th>
      <th scope="col">Dispositivos</th>
      <th scope="col">Ultima conexi贸n</th>
      <th scope="col">Acciones</th>
      </tr>
  </tfoot>
    </table>
  </div>
</div>



<script>
    axios({ 
        method: 'GET', 
        url: 'http://127.0.0.1:3000/api/get_users', 
        headers: {
            Authorization: "Bearer Token"
        }, 
        data: {}
    }).then((res) => {
        
        console.log(res.data.data);

        /*if(res.data.status) {

          console.log(res.data.msg);
          var info = ``;

          for(let i = 0 ; i < res.data.data.length ; i ++) {
              info = info + `
              <tr>
                  <th scope="row">${res.data.data[i].nombre}</th>
                  <td>${res.data.data[i].apellidos}</td>
                  <td>${res.data.data[i].email}</td>
                  <td>${res.data.data[i].nombre}</td>
                  <td>${res.data.data[i].nombre}</td>
              </tr>
              `;
            
          }
          console.log(info);
          document.getElementById('users-table').innerHTML = info;
        }
        else {

          console.log(res.data.msg);
        }*/
    }).catch((err) => {

        console.log(err);
    });
</script>